/*  COLOR SCHEME
 *  Red:    #8b0000
 *  Cream:  #faebd7 rgb(250,235,215)
 *  Gray:   #626363 rgb(98,99,99)*/


.map {
    display:block;
    width:100%;
    height:320px;
    border:0;
}

.columns {
    height:20em;
}

.columnText {
    position:static;
    background:none;
}

.columnText p, .columnText h3, .columnText h4 {
    color:#faebd7;
}

.columnText p {
    padding-bottom: 0;
    font-weight:normal;
}

.columnText h3 {
    padding-top: 0;
}

/*phone landscape*/
@media only screen and (min-width:480px)   {

    
    
    .columnText {
        height:20em;    
        position:relative;
        
    }
  
}

/*tablet*/
@media only screen and (min-width:665px)   {

    
    
    
    .doubleColumn {
        width:66.65%;
    }
    
}

/*pc*/
@media only screen and (min-width:965px)    {

    
}